# This docker-compose is intended for developers, end-users should use the
# docker-compose in the root of the repository.
services:
  transmute:
    container_name: transmute-dev
    build:
      context: .
      dockerfile: docker/Dockerfile
    restart: unless-stopped
    ports:
        - 3313:3313
    volumes:
      # - ./data/:/app/data       # Uncomment this line to make the data volume available on the host for debugging.
      - transmute_data:/app/data  # Comment this line if you uncomment the line above to make the data volume available on the host for debugging.
    healthcheck:
      test: 
        - "CMD"
        - "curl"
        - "-f"
        - "http://localhost:3319/api/health/ready"
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  transmute_data: